.info-section-history{
    display: flex;
    justify-content: center;
    padding: 8vh 0;
    background-color: #262626;
    margin-top: 0.2vh;
}
.history-left{
    width: 30vw;
    font-size: calc(1em + 1.4vw);
    font-family: sans-serif;
    font-family: 'JCB','SecondFont', sans-serif;
    font-weight: 800;
    text-align: left;
    color: #FCB026;

}
.history-text{
    width: 50vw;
    font-size: calc(0.3em + 0.8vw);
    text-align: left;
    font-family: 'JCB','SecondFont', sans-serif;
    color: white
}


.list{
    text-align: left;
    padding: 4vw 10vw;
}
.list-elem{
    padding: 1vw;
}
.list-title{
    font-weight: bolder;
    font-family: 'JCB','SecondFont', sans-serif;
    font-size: calc(0.7em + 0.7vw);
    text-transform: uppercase;
    color: #FCB026;
}

.list-title:hover{
    text-decoration: underline;
}
.sublist-cont{
    display: grid;
    margin-left: 3%;
    grid-template-columns: repeat(auto-fill,minmax(30vw,1fr));
    row-gap: 2vw;
}

.list-sublists{
    font-weight: bolder;
    font-family: 'JCB','SecondFont', sans-serif;
    font-size: calc(0.6em + 0.5vw);
    color: #FCB026;
}
.list-sublists:hover{
    text-decoration: underline;
}
.list-sublists::before{
    content: '- ';
}

.sublist-subs{
    font-family: 'JCB','SecondFont', sans-serif;
    font-size: calc(0.4em + 0.5vw);
    margin-left: 5%;
    color: #262626;
}

.sublist-subs::before{
    content: '- ';
    color: #FCB026;
}
